html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333319;
  /* background-color: #060328; */
  font-family: monospace, serif;
}

.home,
.about,
.extra,
.projects,
.app {
  /* width: 960px; */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Center vertically */
  height: 100vh; /* Take up the entire viewport height */
  /* background-color: black; */
}

/* Update your existing styles for the navigation bar */
nav ul {
  list-style: none;
  display: flex;
  background-color: #333319;
  justify-content: center; /* Center the navigation items horizontally */
  /* Other styles... */
}

nav ul li {
  padding: 20px;
  font-size: 30px;
  text-decoration-style: dotted;
  /* Other styles... */
}

nav ul li:hover {
  text-decoration-style: solid;
  /* Other styles... */
}

nav ul li a {
  color: #e5ffff;
  text-decoration: none;
  text-decoration-style: dotted;
  /* Other styles... */
}

/* Ensure the navigation remains visible even on smaller screens */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center; /* Center items vertically */
  }

  nav ul li {
    padding: 10px; /* Reduce padding for smaller touch targets */
  }
}



.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
  color: #e5ffff;
  font-size: 60px;
}

p {
  margin-bottom: 15px;
  color: #e5ffff;
  font-size: 20px;
  font-family: monospace;
}

.textfield {
  margin-bottom: 15px;
  color: #e5ffff;
  font-size: 20px;
  font-family: monospace;
  width: 50vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5ffff 
}

.about img {
  width: 100%; /* Adjust the width as needed */
  max-width: 270px; /* Set a maximum width to control image size */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Add margin for spacing */
}


/* Styles for the active tab */

.tab:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Styles for the slash (/) between "Welcome" and "Bienvenue" */
h1 span:nth-child(2) {
  margin: 0 20px; /* Add space between the words */
}

.typeWriterText {
  font-size: 40px;
  color: #e5ffff;
  line-height: .2;
}

.typeWriterCursor {
  font-size: 40px;
  color: #e5ffff;
}


.button {
  display: inline-block;
  padding: 20px 35px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  border: 1px dotted #e5ffff; /* Button outline color */
  color: #e5ffff; /* Button text color */
  border-radius: 0px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  background-color: transparent; /* Transparent background */
  cursor: pointer;
}

.button:hover {
  background-color: #e5ffff; /* Hover background color */
  color: #333319; /* Hover text color */
}








.wheel {
  width: 100%;
  height: calc(40rem * 0.8);
}

.line p {
  line-height: 0.8;
  padding: 0;
  margin: 0;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.75rem;
  white-space: nowrap;
  text-align: center;
}



@keyframes rotate {
  0% {
    opacity: 1;
    transform: rotateX(90deg);
  }

  50% {
    transform: rotateX(0);
  }

  100% {
    opacity: 1;
    transform: rotateX(-90deg);
  }
}

@keyframes scaleToCenter {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes moveDown {
  0% {
    top: 0;
  }
  100% {
    /* adjust the height of wheel, default: 30*/
    top: 30rem; 
  } 
}

.wheel {
  position: relative;
}

.line {
  width: 100%;
  animation:
    3s infinite forwards ease-in-out scaleToCenter,
    3s infinite forwards ease-in-out moveDown
  ;
  position: absolute;
}

.line p {
  opacity: 0;
  backface-visibility: hidden;
  animation: 3s infinite forwards linear rotate;
}

.line:nth-child(2), .line:nth-child(2) p { animation-delay: 0.15s }
.line:nth-child(3), .line:nth-child(3) p { animation-delay: 0.3s }
.line:nth-child(4), .line:nth-child(4) p { animation-delay: 0.45s }
.line:nth-child(5), .line:nth-child(5) p { animation-delay: 0.6s }
.line:nth-child(6), .line:nth-child(6) p { animation-delay: 0.75s }
.line:nth-child(7), .line:nth-child(7) p { animation-delay: 0.9s }
.line:nth-child(8), .line:nth-child(8) p { animation-delay: 1.05s }
.line:nth-child(9), .line:nth-child(9) p { animation-delay: 1.2s }
.line:nth-child(10), .line:nth-child(10) p { animation-delay: 1.35s }
.line:nth-child(11), .line:nth-child(11) p { animation-delay: 1.5s }
.line:nth-child(12), .line:nth-child(12) p { animation-delay: 1.65s }
.line:nth-child(13), .line:nth-child(13) p { animation-delay: 1.8s }
.line:nth-child(14), .line:nth-child(14) p { animation-delay: 1.95s }
.line:nth-child(15), .line:nth-child(15) p { animation-delay: 2.1s }
.line:nth-child(16), .line:nth-child(16) p { animation-delay: 2.25s }
.line:nth-child(17), .line:nth-child(17) p { animation-delay: 2.4s }
.line:nth-child(18), .line:nth-child(18) p { animation-delay: 2.55s }
.line:nth-child(19), .line:nth-child(19) p { animation-delay: 2.7s }
.line:nth-child(20), .line:nth-child(20) p { animation-delay: 2.85s }
.line:nth-child(21), .line:nth-child(21) p { animation-delay: 3.0s }

.line {
  perspective: 150rem;
  perspective-origin: center;
}


.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.project-name {
  text-decoration: none;
  color: #e5ffff;
  font-family: monospace;
  font-size: 30px;
}

.project-name:hover {
  text-decoration: underline;
}

.project-description {
  display: none;
  color: #e5ffff;
  font-family: monospace;
  width: 50vw;
  font-size: 20px;
  padding-top: 5px; /* Add spacing between name and description */
}

.project-item:hover .project-description {
  display: block;
}


.tower-text {
  font-size: smaller;
  font-style: italic;
}


.underline-on-hover {
  text-decoration-style:dotted;
  transition: text-decoration 0.3s ease-in-out;
  color: #e5ffff;
}

.underline-on-hover:hover {
  text-decoration-style: solid;
  color: #e5ffff;
}


.button-container {
  display: flex;
  justify-content: center; /* Align buttons horizontally in the center */
  gap: 20px; /* Add spacing between buttons */
  padding-top: 10vh;
  padding-bottom: 20vh;

}


.about-content {
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Create space between image and text */
}

.accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
  text-align: left; /*centers the buttons*/
}


.frame-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 2px dotted #e5ffff;
  position: fixed; /* Keep the frame fixed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the frame exactly */
  z-index: 1; /* Ensure the frame is above other content */
  overflow-y: auto; /* Allow the frame to be scrollable */
  max-height: 90%; /* Set a maximum height for the frame */
}


/*      SCROLLBAR       */
/* For Firefox */
/* Change the thumb (the draggable part) color */
::-webkit-scrollbar-thumb {
  background-color: #e5ffff;
}

/* Change the track (the background) color */
::-webkit-scrollbar-track {
  background-color: #333319;
}

/* For Webkit browsers like Chrome and Safari */
/* Change the scrollbar width and color */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #e5ffff;
}

::-webkit-scrollbar-track {
  background-color: #333319;
}
